*{
    font-family: sans-serif ;
}
table{
    width:100%;
    background-color: white;
    margin: auto;

}
.nav{
    display: inline-block;   
    padding: 20px;
    border:none;

}
a{
    text-decoration: none;
    color:grey;
    font-size: x-large;

}
.box{
     
    text-align: center;
    font-family: sans-serif;
    color:white;
    background-color: rgb(208,208,23);
    margin: 0;
    border-collapse: collapse;



}
.box1{
    text-align: center;
    font-size:x-large;
    transform: scale(1.2,1.5);

}
.box2{
    background-color: rgb(115,93,93);
    margin:0;

}
.box3{
    padding: 10px 25px 100px 25px;
    line-height: 2pc;
    clip-path: polygon(0 0,100% 0, 100% 70%, 80% 100%, 0 100%);


}