<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link href="css/style.css" rel="stylesheet">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            div{
                width:80%;background-color: white; margin:auto;
            }
            table{
                width:80%;margin:auto;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:x-large;
            }
             td{
                width:25%;padding:30px;text-align: center;
            }
            h1{
                width:100%;margin:auto;text-align: center;letter-spacing: 2px;text-shadow: 1px 1px;color: rgb(94, 82, 82);font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight: 400;font-size: 80px;
            }
            th{
                background-color: yellowgreen;padding: 10px;color:white
            }
            h2{
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 25px;font-weight: 400;padding:10px;text-align: left;
            }
            span{
                color:yellowgreen
            }
            p{
                font-size: small;font-family:Arial, Helvetica, sans-serif;text-align: left;
            }
            h4{
                color:rgb(96, 209, 70);text-shadow: 2px ;text-align: left;
            }
            button{
                background-color: gray;border: 0px;color: white;font-size: medium;
            }
            img{
                width:100%;display:block;
            }
    
        </style>
    </head>
    <body style="background-color: rgb(94, 82, 82)">
       <div>
            <table style="border-spacing: 30px 0px">
                <tr>
                    <td style="background-color:rgb(199, 199, 31);">
                        Home
                    </td>
                    <td>
                        AboutUs
                    </td>
                    <td>
                        Products
                    </td>
                    <td>
                        Services
                    </td>
                    <td>
                    Contact
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <table width="100%">
                            <tr>
                                <td style="padding: 0px;width:50%">
                                    <h1><span>I</span>space</h1>
                                </td>
                            </tr>
                        </table>
                    </td>
        
                </tr>
                <tr>
                    <td colspan="5" style="padding: 0%;width:100%">
                    <img width="100%" src="../img/Screenshot 2023-03-06 183959.png">
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <input type="radio" style="background-color: darkslategray;" name="r" id="radio1">
                        <input type="radio" style="background-color: darkslategray;" name="r" id="radio2" >
                        <input type="radio" style="background-color: darkslategray;" name="r" id="radio3" >
                        <input type="radio" style="background-color: darkslategray;" name="r" id="radio4" >
                    </td>
                </tr>
            </table>
            <table style="border-spacing: 30px 0px">
                <tr>
                    <th width="33%" valign="top">
                        LOREM IPSUM IS
                    </th>
                    <th width="33%" valign="top">
                        LOREM IPSUM IS
                    </th>
                    <th width="33%" valign="top">
                        LOREM IPSUM IS
                    </th>
                </tr>
                <tr>
                    <td style="padding:0%">
                        <img  src="\img\Screenshot 2023-03-06 204723.png">
                    </td>
                    <td style="padding:0%">
                        <img  src="\img\Screenshot 2023-03-08 124147.png">
                    </td>
                    <td style="padding:0%">
                        <img src="\img\Screenshot 2023-03-06 204723.png">
                    </td>
                </tr>
                <tr>
                    <td style="background-color: yellowgreen;padding: 0%;border-spacing: 0cap;">
                        <div style="background-color: rgb(94, 82, 82);  padding:30px;width:100%; border-spacing:0cap; font-size: small;font-family: Arial, Helvetica, sans-serif;color:white;clip-path:polygon(0 0,100% 0,100% 70%,80% 100%,0 100%)">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vero commodi quod aut ratione dicta suscipit expedita debitis inventore, officiis laudantium eius. Deserunt, ut facilis exercitationem illum libero tenetur sit.</div>
                    </td>
                    <td style="background-color: yellowgreen;padding: 0%;border-spacing: 0cap;">
                        <div style="background-color: rgb(94, 82, 82);padding:30px;width:100%; border-spacing:0cap; font-size: small;font-family: Arial, Helvetica, sans-serif;color:white;clip-path:polygon(0 0,100% 0,100% 70%,80% 100%,0 100%)">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vero commodi quod aut ratione dicta suscipit expedita debitis inventore, officiis laudantium eius. Deserunt, ut facilis exercitationem illum libero tenetur sit.</div>
                    </td>
                    <td style="background-color: yellowgreen;padding: 0%;border-spacing: 0cap;">
                        <div style="background-color: rgb(94, 82, 82);padding:30px;width:100%; border-spacing:0cap; font-size: small;font-family: Arial, Helvetica, sans-serif;color:white;clip-path:polygon(0 0,100% 0,100% 70%,80% 100%,0 100%)">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vero commodi quod aut ratione dicta suscipit expedita debitis inventore, officiis laudantium eius. Deserunt, ut facilis exercitationem illum libero tenetur sit.</div>
                    </td>
                   
                </tr>
                <tr>
                    <td width="33%" style="padding:0%;" valign="top">
                    <h2 >Lorem ipsum Simply</h2>
                    <p>> The standard chunk of Lorem ipsum used      </p>
                    <p>> Duis a augue ac libero euismod viverra sitth</p>
                    <p>> The standard chunk of Lorem ipsum used      </p>
                    <p>> Duis a augue ac libero euismod viverra sitth</p>
                    <p>> The standard chunk of Lorem ipsum used</p>
                    <p>> Duis a augue ac libero euismod viverra sitth</p>
                    </td>
                    <td width="33%" style="padding:0%;"valign="top">
                        <h2 >Lorem ipsum Simply</h2>
                        <h4>The Standard Chunk Of Lorem Ipsum Dolor Sit Amet </h4>
                     <p style="line-height: 20px;">There are many variations of passages of Lorem Ipsum available, nut the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage</p>
                     <button>Read More</button>
                    </td>
                    <td width="33%" style="padding:0%;"valign="top">
                        <h2 >Lorem ipsum Simply</h2>
                        <h4>The Standard Chunk Of Lorem Ipsum Dolor Sit Amet </h4>
                        <p style="line-height: 20px;">There are many variations of passages of Lorem Ipsum available, nut the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage</p>
                        <button>Read More</button>
                    </td>
                </tr>
            </table>
            <table style="padding:0%;border-spacing: 0px 20px;width:80%">
                <tr>
                    <td width="100%" style="padding:0%">
                        <table style="border-spacing:0px ">
                            <tr>
                                <td style="background-color: rgb(163, 218, 45);font-size: x-large;text-align: center ;width:20%;color:white;padding:0%;">
                                    15
                                </td>
                                <td style="width:80%;background-color: rgb(94, 82, 82);padding:10px">
                                    <h4 style="text-align: center;">Lorem Ipsum is Simply Text</h4>
                                    <p style="text-align: center;color:white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit delectus nesciunt eos itaque voluptate vel.</p>
                                </td>
                                
                            </tr>
                        </table>
                    </td>
                    <td width="100%" style="padding:0%">
                        <table style="border-spacing:0px " >
                            <tr>
                                <td style="background-color: rgb(163, 218, 45);font-size: x-large;text-align: center ;width:20%;color:white;padding:0%">
                                    $
                                </td>
                                <td style="width:80%;background-color: rgb(94, 82, 82);padding:10px">
                                    <h4 style="text-align: center;">Lorem Ipsum is Simply Text</h4>
                                    <p style="text-align: center;color:white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit delectus nesciunt eos itaque voluptate vel.</p>
                                </td>
                                
                            </tr>
                            
                        </table>
                    </td>
                    <hr>
                </tr>
            </table><hr>
            <div style="text-align: center;margin: auto;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;padding: 20px;font-size: medium;">
                Designed By
            </div>
       </div>
    </body>
</html>